{% extends 'frontoffice/base.html.twig' %}
{% block main %}
    <section class="profile-account-setting">
        <div class="container">
            <div class="account-tabs-setting">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="acc-leftbar">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-acc-tab" data-toggle="tab" href="#nav-acc" role="tab" aria-controls="nav-acc" aria-selected="true"><i class="la la-cogs"></i>Change Password</a>
                            </div>
                        </div><!--acc-leftbar end-->
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
                                <div class="acc-setting">
                                    {% for message in app.flashes('error') %}
                                        <center><div class="alert alert-warning">
                                                <div class="p-3 my-2 rounded-2 error">{{ message }}
                                                </div></center>
                                    {% endfor %}
                                    {% for message in app.flashes('message') %}
                                        <center><div class="alert alert-success">
                                                <div class="p-3 my-2 rounded-2 alert-success">{{ message }}
                                                </div></center>
                                    {% endfor %}
                                    <h3>Change password</h3>

                                    <form method="post">
                                        <div class="cp-field">
                                            <h5>New Password</h5>
                                            <div class="cpp-fiel">
                                                <input type="password" name="pass" placeholder="New Password" class="form-control">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                        </div>
                                        <div class="cp-field">
                                            <h5>Repeat Password</h5>
                                            <div class="cpp-fiel">
                                                <input type="password" name="pass1" placeholder="Repeat Password" class="form-control">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                        </div>

                                        <div class="save-stngs pd2">
                                            <ul>
                                                <center><li><button type="submit">Save Setting</button></li></center>
                                            </ul>
                                        </div><!--save-stngs end-->
                                    </form>
                                </div><!--acc-setting end-->
                            </div>



                        </div>
                    </div>
                </div>
            </div><!--account-tabs-setting end-->
        </div>
    </section>
{% endblock %}