{% extends 'frontoffice/base.html.twig' %}

{% block custom_stylesheets %}
    <style>
        input[type="radio"]{
            margin-left: 3px;
        }
    </style>
{% endblock %}

{% block main %}


    <div class="container">
        {% if done is defined %}
            <h2 class="h2">Congratulations, you have finished your tests.</h2>
            <p class="h6">Thank you for taking the time to pass the tests, your score is: {{ score * 100}}%</p>
        {% endif %}
    </div>


    {% if data is defined %}
        {{ dump(data) }}
    {% endif %}
{% endblock %}