{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}
{% block gobackbtn %}
    {{ include('comment/_delete_form.html.twig') }}

    <a href="{{ path("comment_index") }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-left fa-sm text-white-50"></i> Go back
    </a>
{% endblock %}

{% block page_title %}
    Edit a Comment
{% endblock %}
{% block main %}


    {{ include('comment/_form.html.twig', {'button_label': 'Update', 'icon': 'sync'}) }}




{% endblock %}
