<span>
       {% for i in 1..5 %}
           {% if i <= rating %}
               <i style="color: goldenrod;" class="fas fa-star"></i>
        {% else %}
               <i style="color: goldenrod;"  class="far fa-star"></i>
           {% endif %}
       {% endfor %}
</span>