{% extends 'frontoffice/login/index.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


        <center> <p>Check your email to activate your account</p> </center>

{% endblock %}

