{% extends 'frontoffice/front/index.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block page_title %}
    Comments List
{% endblock %}
{% block body %}
    <section class="forum-page">
        <div class="container">
            <div class="forum-questions-sec">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="forum-post-view">
                            <div class="usr-question">
                                <div class="usr_img">
                                    <img src="http://via.placeholder.com/60x60" alt="">
                                </div>
                                <div class="usr_quest">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <span><i class="fa fa-clock-o"></i>3 min ago</span>
                                    <ul class="react-links">
                                        <li><a href="#" title=""><i class="fa fa-heart"></i> Vote 150</a></li>
                                        <li><a href="#" title=""><i class="fa fa-share-alt"></i> Share</a></li>
                                    </ul>
                                    <ul class="quest-tags">
                                        <li><a href="#" title="">Work</a></li>
                                        <li><a href="#" title="">Php</a></li>
                                        <li><a href="#" title="">Design</a></li>
                                    </ul>
                                    <div class="comment-section">
                                        <h3>03 Comments</h3>
                                        <div class="comment-sec">
                                            <ul>
                                                <li>
                                                    <div class="comment-list">
                                                        <div class="bg-img">
                                                            <img src="http://via.placeholder.com/40x40" alt="">
                                                        </div>
                                                        <div class="comment">
                                                            <h3>John Smith</h3>
                                                            <span><img src="images/clock.png" alt=""> 3 min ago</span>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at libero elit. Mauris ultrices sed lorem nec efficitur.</p>
                                                        </div>
                                                    </div><!--comment-list end-->
                                                </li>
                                            </ul>
                                        </div><!--comment-sec end-->
                                    </div>
                                </div><!--usr_quest end-->
                            </div><!--usr-question end-->
                        </div><!--forum-post-view end-->
                        <div class="post-comment-box">
                            <h3>03 Comments</h3>
                            <div class="user-poster">
                                <div class="usr-post-img">
                                    <img src="http://via.placeholder.com/40x40" alt="">
                                </div>
                                <div class="post_comment_sec">

                                    <form>
                                        <textarea placeholder="Your Answer"></textarea>
                                        <button type="submit">Post Answer</button>
                                    </form>
                                </div><!--post_comment_sec end-->
                            </div><!--user-poster end-->
                        </div><!--post-comment-box end-->

                    </div>
                    <div class="col-lg-4">
                        <div class="widget widget-feat">
                            <ul>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <span>1185</span>
                                </li>
                                <li>
                                    <i class="fa fa-comment"></i>
                                    <span>1165</span>
                                </li>
                                <li>
                                    <i class="fa fa-share-alt"></i>
                                    <span>1120</span>
                                </li>
                                <li>
                                    <i class="fa fa-eye"></i>
                                    <span>1009</span>
                                </li>
                            </ul>
                        </div><!--widget-feat end-->
                        <div class="widget widget-user">
                            <h3 class="title-wd">Top User of the Week</h3>
                            <ul>
                                <li>
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="http://via.placeholder.com/50x50" alt="">
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>Jessica William</h3>
                                            <p>Graphic Designer </p>
                                        </div><!--usr-mg-info end-->
                                    </div>
                                    <span><img src="images/price1.png" alt="">1185</span>
                                </li>
                                <li>
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="http://via.placeholder.com/50x50" alt="">
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>John Doe</h3>
                                            <p>PHP Developer</p>
                                        </div><!--usr-mg-info end-->
                                    </div>
                                    <span><img src="images/price2.png" alt="">1165</span>
                                </li>
                                <li>
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="http://via.placeholder.com/50x50" alt="">
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>Poonam</h3>
                                            <p>Wordpress Developer </p>
                                        </div><!--usr-mg-info end-->
                                    </div>
                                    <span><img src="images/price3.png" alt="">1120</span>
                                </li>
                                <li>
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="http://via.placeholder.com/50x50" alt="">
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>Bill Gates</h3>
                                            <p>C & C++ Developer </p>
                                        </div><!--usr-mg-info end-->
                                    </div>
                                    <span><img src="images/price4.png" alt="">1009</span>
                                </li>
                            </ul>
                        </div><!--widget-user end-->

                    </div>
                </div>
            </div><!--forum-questions-sec end-->
        </div>
    </section><!--forum-page end-->
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Date</th>
                <th>Likes</th>

            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.date ? comment.date|date('Y-m-d') : '' }}</td>

            <!--    <td style="display: flex">
                    <a href="{ path('comment_show', {'id': comment.id}) }}"><button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i class="fas fa-search"></i></button></a>
                    <a href="{ path('comment_edit', {'id': comment.id}) }}"><button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i></button></a>
                </td>-->
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   <!-- <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{ path('comment_new') }}"><button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i> Create New</button></a>
    </div>-->

{% endblock %}
