{% for message in app.flashes('mercuryseries_flashy_notification') %}
    <script id="flashy-template" type="text/template">

        <div class="flashy flashy--{{ message.type }}">
            {% if( message.type == "success" ) %}
            <i class="material-icons">add_circle_outline</i>

            {% elseif ( message.type == "primary" ) %}
                <i class="material-icons">autorenew</i>
            {% elseif ( message.type == "error")%}
                <i class="material-icons">delete_forever</i>
            {% endif %}
            <a class="flashy__body" href="#" target="_blank"></a>
        </div>
    </script>

    <script>
        flashy("{{ message.message }}", "{{ message.link }}");
    </script>
{% endfor %}