{% extends 'frontoffice/base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block main %}
    <div style="height: 85vh; width: 100%; display:grid; place-items: center">
        <h1 style="font-size: 3em">404... Document not found.</h1>
    </div>
{% endblock %}