{% extends 'base.html.twig' %}

{% block title %}New Field{% endblock %}

{% block main %}
    <h1>Create new Field</h1>

    {{ include('field/_form.html.twig') }}

    <a href="{{ path('field_index') }}"<button type="button" class="btn btn-primary mt-2 mb-2">Back to list</button></a>
{% endblock %}
