{% extends 'base.html.twig' %}

{% block title %}Edit Candidature{% endblock %}

{% block gobackbtn %}
    {{ include('candidature/_delete_form.html.twig') }}

    <a href="{{ path('candidature_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-left fa-sm text-white-50"></i> Go back
    </a>
{% endblock %}
{% block page_title %}
    Edit Candidature
{% endblock %}
{% block main %}
    {{ include('candidature/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
